<h1>全店舗一覧</h1>

<table>
  <thead>
    <tr>
      <th>並び順変更</th>
      <th>global_position</th>
      <th>id</th>
      <th>店舗名</th>
      <th>住所</th>
      <th>電話番号</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td>
          <%= link_to '⬆', move_higher_global_store_path(store) %>
          <%= link_to '⬇', move_lower_global_store_path(store) %>
        </td>
        <td><%= store.global_position %></td>
        <td><%= store.id %></td>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= store.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'ダッシュボードに戻る', admin_dashboard_path %>