<% content_for :title, "管理者ログイン" %>

<h1>管理者ログイン</h1>

<%= form_with url: admin_users_login_path, method: :post do |form| %>
  <div>
    <%= form.label :username, 'ユーザ名' %>
    <%= form.text_field :username, required: true %>
  </div>
  <div>
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.submit 'ログイン' %>
  </div>
<% end %>
