<% content_for :title, "ブランド一覧" %>

<h1>ブランド一覧</h1>

<%= link_to '新しいブランドを作成', new_brand_path %>

<ul>
  <% @brands.each do |brand| %>
    <li>
      <%= brand.name %> |
      <%= link_to '店舗一覧', brand_path(brand) %> |
      <%= link_to 'ブランドの編集', edit_brand_path(brand) %> |
      <%= link_to 'ブランドの削除', brand_path(brand),
            data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
    </li>
  <% end %>
</ul>
